

#wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.navbar {
  border-radius: 0;

}

.panel {
  overflow: hidden;
  border: ;
  box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, 0.05);
  margin: 0 0 25px;
}

.panel .panel-heading {
  overflow: hidden;
  background-color: ;
  border-bottom: ;
  text-align: center;
}

.panel .panel-heading h1 {
  margin: 0;
}

.btns-list li {
  padding: 20px 0;
  text-align: center;
}

.btns-list li + li {
  border-top: 1px solid #ddd;
}

.btns-list li a {
  font-size: 30px;
  line-height: 1.4;
  padding: 50px 20px;
  min-width: 100px;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.inactive {
  display: none;
}

.time-box, .boxes {
  padding: 10px;
  float: right;
  border: 1px solid #ddd;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  font-size: 30px;
  line-height: 1.4;
  font-weight: 700;
  margin: 10px;
  min-width: 120px;
  min-height: 65px;
  text-align: center;
}

.time-box.mid, .boxes.mid {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.game-holder {
  overflow: hidden;
  padding: 10px;
  position: relative;
}

.game-holder .btn-refresh {
  white-space: nowrap;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: none;
}

.game-holder .btn-refresh:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  min-height: 100%;
}

.game-holder .btn-refresh > * {
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  max-width: 99%;
}

.game-holder .btn-refresh .btn {
  font-size: 30px;
  line-height: 1.2;
  padding: 20px;
  min-width: 200px;
}

.game-items {
  box-sizing: border-box;
  overflow: hidden;
  margin: 10px auto;
  border-style: solid;
  border-color: #666;
  border-width: 0 0 1px 1px;
  width: 600px;
  height: 600px;
  letter-spacing: -6px;
}

.game-items .items-row {
  overflow: hidden;
  width: 100%;
  height: 10%;
}

.game-items .item {
  letter-spacing: 0;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  padding: 0;
  width: 10%;
  height: 100%;
  border-style: solid;
  border-color: #666;
  border-width: 1px 1px 0 0;
  cursor: pointer;
  position: relative;
  box-shadow: inset 0 0 3px 2px rgba(0, 0, 0, 0.1);
}

.game-items .item:after {
  content: '';
  background: url("../images/steps.svg") no-repeat 50% 50%;
  background-size: cover;
  position: absolute;
  left: 27%;
  top: 10%;
  width: 45%;
  height: 81%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.game-items .item:before {
  display: block;
  content: '';
  background: url("../images/danger.png") no-repeat 50% 50%;
  background-size: cover;
  position: absolute;
  left: 15%;
  top: 12%;
  width: 70%;
  height: 75%;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.game-items .item.isClicked:before {
  display: none;
}

.game-items .item.isClicked:after {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.game-items.play-dice .item:before {
  visibility: hidden;
  opacity: 0;
}

.imgs {
  width: 15%;
}

.imgs .img-holder {
  overflow: hidden;
  margin: 50% 0;
}

.btn-back {
  float: left;
  clear: both;
  margin: 10px;
  font-size: 18px;
  line-height: 1.3;
}

#ins {
  background-image: url('../images/ins.jpg');
  background-size: 100% 175%;

}

#home {
  background-image: url('../images/homepage.jpg');
  background-size: 100% 120%;


}

body {
  padding: 0;
  margin: 0;

  background-repeat: no-repeat;
  transition: 1s;
  opacity: 0.9;
}

.stretch{
  width: 100%;

}
